{% extends 'base.html' %}
{% block content %}
<h4 class="fw-bold text-center border-bottom border-dark pb-2">CONFIGURAÇÃO VISUAL</h4>
<form method="POST" enctype="multipart/form-data" class="mt-3">
    <div class="mb-3 p-2 border border-dark rounded">
        <label class="fw-bold small">LOGOMARCA DA ASSOCIAÇÃO:</label>
        <input type="file" name="logo" class="form-control border-dark" accept="image/*">
    </div>
    <div class="mb-3 p-2 border border-dark rounded">
        <label class="fw-bold small">IMAGEM DE FUNDO DAS PÁGINAS:</label>
        <input type="file" name="fundo" class="form-control border-dark" accept="image/*">
    </div>
    <button type="submit" class="btn btn-dark w-100 py-3">SALVAR IDENTIDADE VISUAL</button>
</form>
<a href="{{ url_for('admin_dashboard') }}" class="btn btn-outline-dark w-100 mt-2">VOLTAR</a>
{% endblock %}
