<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('dashboard') }}">MOB ACPAMSAL</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('gerenciar_associados_web') }}">Associados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cadastrar_associado') }}">Novo Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('config_web') }}">Configurações</a>
        </li>
      </ul>
      <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Sair</a>
    </div>
  </div>
</nav>
