{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center pt-5">
    <div class="col-md-4">
        <div class="card border-0 shadow-lg">
            <div class="card-body p-5">
                <h3 class="text-center fw-bold mb-4">LOGIN</h3>
                <form method="POST">
                    <div class="mb-3">
                        <label>E-mail ou Usuário</label>
                        <input type="text" name="login" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label>Senha (Matrícula)</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button class="btn btn-acpamsal w-100 py-2">ENTRAR NO SISTEMA</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
