{% extends 'base.html' %}
{% block content %}
<h5 class="fw-bold text-center mb-3">PAGAMENTO PIX</h5>
<div class="card border-dark p-4 text-center bg-light shadow-sm">
    <p class="fw-bold mb-1">CHAVE CNPJ (ACPAMSAL):</p>
    <div class="alert alert-dark fs-5 fw-bold border-dark mb-3">{{ pix.cnpj }}</div>
    <p class="small text-muted mb-3">Associação dos Condutores Profissionais Autônomos Motofretistas, Motociclistas, Mototaxistas e Motoboys do Município de Salinópolis</p>
    <button onclick="navigator.clipboard.writeText('{{ pix.cnpj }}').then(() => alert('CNPJ Copiado!'))" class="btn btn-warning w-100 fw-bold border-dark">COPIAR CNPJ</button>
</div>
<a href="{{ url_for('perfil_associado') }}" class="btn btn-dark w-100 mt-3 fw-bold">VOLTAR AO PERFIL</a>
{% endblock %}
