{% extends 'base.html' %}
{% block content %}
<h5 class="fw-bold text-center mb-3">CONSULTA PÚBLICA</h5>
<form method="GET" class="mb-4">
    <div class="input-group border border-dark rounded">
        <input type="text" name="q" class="form-control text-center fw-bold" placeholder="MATRÍCULA OU PLACA" required>
        <button class="btn btn-dark" type="submit">BUSCAR</button>
    </div>
</form>

{% if msg %}
    <div class="alert alert-danger text-center border-dark fw-bold shadow">{{ msg }}</div>
{% endif %}

{% if socio %}
    <div class="card border-dark text-center p-3 shadow-sm">
        <img src="{{ url_for('static', filename='uploads/' + socio.foto) }}" class="rounded border border-dark mx-auto mb-2" style="width: 120px; height: 140px; object-fit: cover;">
        <h4 class="fw-bold text-uppercase mb-1">{{ socio.nome }}</h4>
        <p class="mb-1">MATRÍCULA: <strong>{{ socio.matricula }}</strong></p>
        <div class="bg-warning border border-dark p-2 fw-bold rounded mb-2">PLACA: {{ socio.moto_placa }}</div>
        <div class="text-success fw-bold">● CONDUTOR CREDENCIADO ATIVO</div>
    </div>
{% endif %}
{% endblock %}
